.accordion__button {
  @include vp-767 {
    position: relative;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  display: none;
}

.accordion__button::before,
.accordion__button::after {
  @include vp-767 {
    content: "";
    width: 15px;
    height: 1px;
    background-color: #f8fdff;
    position: absolute;
    top: 4px;
  }
}

.accordion__button::after {
  @include vp-767 {
    transform: rotate(90deg);
  }
}

.accordion__item--opened .accordion__button::after {
  @include vp-767 {
    opacity: 0;
  }
}

.accordion__content {
  @include vp-767 {
    display: none;
  }
  display: flex;
}

.accordion__item--opened .accordion__content {
  display: block;
}
