.footer {
  background-color: #041827;
}

.footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-top: 55px;
  padding-bottom: 55px;
  padding-left: 350px;
  padding-right: 350px;
  justify-content: space-between;
}
