.form {
  @include vp-1024 {
    background-image: none;
    background-color: #00b3ff;
  }

  background-color: #507b92;
  background-image: url("../img/form.png");
  background-repeat: no-repeat;
  background-size: cover;

  &--modal {
    display: flex;
    flex-direction: column;
    gap: 17px;
    background-image: none;
    background-color: #00b3ff;
  }
}

.form__background {
  @include vp-767 {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 88px;
  }

  @include vp-1024 {
    padding-top: 46px;
    padding-bottom: 116px;
    gap: 0;
    justify-content: flex-start;
  }

  padding-top: 166px;
  padding-bottom: 233px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 104px;
}

.form__order {
  @include vp-1024 {
    width: auto;
  }

  width: 585px;
}

.form h3 {
  @include vp-767 {
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 7px;
  }

  @include vp-1024 {
    margin-bottom: 6px;
  }

  font-family: "Roboto Condensed", "Arail", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: #ffffff;
  margin: 0;
  margin-bottom: 13px;
  text-align: left;
}

.form__description {
  @include vp-767 {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 33px;
  }

  @include vp-1024 {
    margin-left: 0;
    margin-bottom: 24px;
  }

  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  text-align: left;
  margin-bottom: 35px;
  margin-left: 5px;
}

.form__container {
  @include vp-767 {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  @include vp-1024 {
    padding-left: 0;
    width: 100%;
    row-gap: 20px;
  }

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
  row-gap: 15px;
  padding-left: 5px;
}

.form__text-area {
  margin: 0;
  grid-column: 1/-1;
}

.form__text-area textarea {
  @include vp-767 {
    min-height: 180px;
    padding-top: 24px;
  }

  @include vp-1024 {
    padding-top: 29px;
    min-height: 155px;
  }

  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  min-height: 157px;
  cursor: text;
}

.form__container button,
.form--modal button {
  @include vp-767 {
    margin-top: 5px;
    margin-right: 0;
  }

  @include vp-1024 {
    margin-right: 55px;
    margin-top: 10px;
    margin-bottom: 0;
  }

  font-family: "Roboto Condensed", "Arail", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  padding: 15px 25px;
  grid-column: 1/2;
  grid-row: 3/4;
  background: #041427;
  border-radius: 3px;
  border: none;
  margin-top: 14px;
  margin-right: 10px;
  padding-bottom: 12px;
  cursor: pointer;
  max-height: 45px;
}

.form button:hover,
.form button:focus {
  background-color: #3abcf3;
}

.form button:active {
  background-color: #3abcf3;
  outline: 2px solid #ffffff;
}

.form__checkbox-wrapper {
  margin: 0;
}

.form__input-wrapper .form input {
  width: 100%;
}

.form__checkbox {
  grid-column: 2/3;
}

.form input,
.form textarea {
  @include vp-767 {
    padding-top: 13px;
  }

  font-family: "PT Mono", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  padding: 15px;
  border: none;
  background: rgba(4, 20, 39, 0.15);
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  width: 100%;
}

.form input::placeholder,
.form textarea::placeholder {
  color: $color-default-white;
}

.form__img-wrap {
  @include vp-1024 {
    display: none;
  }

  padding-top: 10px;
}

.form input:hover,
.form textarea:hover {
  outline: 2px solid #ffffff;
}

.form input:active,
.form textarea:active {
  outline: 2px solid #ffffff;
  color: #ffffff;
}

.form input:focus,
.form textarea:focus {
  outline: 2px solid #ffffff;
  color: #ffffff;
}

.form input[type="text"]:focus,
.form input[type="text"]:active,
.form textarea:focus {
  outline: 2px solid #ffffff;
  color: #ffffff;
}

.form__input-wrapper {
  margin: 0;
}

.form input[type="text"],
.form input[type="tel"] {
  color: #ffffff;
}

.form textarea {
  @include vp-767 {
    padding-top: 25px;
  }

  padding-top: 24px;
  color: #ffffff;
}

.error input {
  border: 2px solid $color-default-white;
}

.error .form__befor {
  border: 2px solid $color-default-white;
}

.error input::placeholder {
  color: $color-default-white;
}
