.pristine-error {
  border: none;
  color: #ff0000;
  font-family: "PT Mono", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.pristine-error.pristine-error {
  border: none;
}
