.service {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #507b92;
}

.service:nth-child(1) {
  @include vp-767 {
    background-image: url("../img/card-mobile-1.webp");
  }

  @include vp-1024 {
    background-image: url("../img/card-tablet-1.webp");
  }

  background-image: url("../img/card-1.webp");
}

.service:nth-child(2) {
  @include vp-767 {
    background-image: url("../img/card-mobile-2.webp");
  }

  @include vp-1024 {
    background-image: url("../img/card-tablet-2.webp");
  }

  background-image: url("../img/card-2.webp");
}

.service:nth-child(3) {
  @include vp-767 {
    background-image: url("../img/card-mobile-3.webp");
  }

  @include vp-1024 {
    background-image: url("../img/card-tablet-3.webp");
  }

  background-image: url("../img/card-3.webp");
}

.service__link {
  @include vp-767 {
    padding-top: 25px;
    padding-left: 28px;
  }

  @include vp-1024 {
    max-height: 250px;
    width: 100%;
    padding-top: 38px;
    padding-left: 45px;
  }

  @include vp-1600 {
    width: 280px;
  }

  display: block;
  cursor: pointer;
  width: 350px;
  height: 650px;
  padding-left: 40px;
  padding-right: 80px;
  padding-top: 49px;
  text-align: left;
  position: relative;
  overflow: hidden;
}

.service__name {
  @include vp-767 {
    font-size: 18px;
    line-height: 30px;
  }

  font-family: "Roboto Condensed", "Arail", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #ffffff;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.service__link::after {
  @include vp-767 {
    width: 40px;
    height: 40px;
  }

  content: "";
  width: 60px;
  height: 60px;
  background-color: #00b2ff;
  border-radius: 3px 0 0 0;
  position: absolute;
  bottom: 0;
  right: 0;
  background-image: url("../img/svg/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.service__link:hover .service__name {
  color: #00b2ff;
}

.service__link:active .service__name {
  color: #00b2ff;
}
